* {
    background-color: #161616;
    text-align: center;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    color: #D6CD5D;
}

#menu {
    position: relative; /* Deixou o menu sozinho na parte superior do site*/
    top:10px;
}

nav#menu ul {
    text-transform: uppercase;
}

nav#menu li {
    list-style: none; /*Tira as bolinhas que são caracteristicas das linstas não ordenadas*/
    display: inline-block;
}

nav#menu a { 
    text-decoration: none; /* tirou os riscos em baixo das palavras do menu superior*/
    margin-left: 300px;
    margin-right: 300px;
    cursor: pointer;
}

#insta {
    text-decoration: none;
}

figure img {
    width: 100%;
}

section p {
    width: 80%;
    text-align: justify;
    margin-left: 10%;
}

@media screen and (max-width: 800px) {
    figure {
        width: 100%;
    }

    nav#menu {
        display: none;
    }
}